﻿@model IEnumerable<MyShop.Core.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Category)
    </th>

    <th></th>
  </tr>

@foreach (var item in Model) {
<tr>
  <td>
    <img class="img-thumbnail" style="height:50px" src="~/Content/ProductImages/@item.Image" />
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.Name)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.Description)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.Price)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.Category)
  </td>

  <td>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
  </td>
</tr>
}

</table>
